.product-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1em;

}

.suggetion-items {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:1em;
	text-align: center;
}
