{% extends 'back/dashboard_master.html' %}
{% load staticfiles %}

{% block mainblock %}



<div class="row">
    <div class="col-md-12">
        <!-- Basic Form Elements Block -->
        <div class="block">
            <!-- Basic Form Elements Title -->
            <div class="block-title">
<!--                                        <div class="block-options pull-right">-->
<!--                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>-->
<!--                                        </div>-->
                <br/>
                <br/>
                <br/>
<!--                                        <h2><strong>Create</strong> Product</h2>-->
                <br/>
            </div>
        </div>
                                    <!-- END Form Elements Title -->

        <!-- Basic Form Elements Content -->
        <form action="{%url 'create_product' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" id="productname" name="productname" class="form-control" placeholder="Product Name">
                    <input type="number" id="productprice" name="productprice" class="form-control" placeholder="Price">
                    <input type="text" id="artist_name" name="artist_name" class="form-control" placeholder="Name of Artist">
                    <input type="text" id="description" name="description" class="form-control" placeholder="Description">



                </div>
                <div class="col-md-6">
                    <input type="file" id="myfile" name="myfile" rows="5" class="form-control" placeholder="upload file "></input>
                </div>

                <div class="col-md-6">
                    <br/>
                    <strong>Category </strong>
                    <select id="productcat" name="productcat" class="select-chosen" data-placeholder="Choose a Category.." style="width: 250px;">
                        {% for c in category %}
                        <option value="{{c.pk}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>


        </form>
        <!-- END Basic Form Elements Content -->
    </div>
    <!-- END Basic Form Elements Block -->
</div>

<!-- END Page Content -->

{% endblock %}