<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <div>
      <h3>Create Post</h3>
      <form action="{%url 'load_data' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
        {% csrf_token %}
          <div class="form-group">
              <div class="col-md-6">

                <input type="file" id="myfile1" name="myfile1" rows="5" class="form-control" placeholder="upload file "></input>
                  <label>Description</label>
                  <input type="text" id="descr" name="descr"/>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>
      </form>
  </div>
</html>