{% extends 'backend_master.html' %}
{% load staticfiles %}

{% block main_content %}
  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2><i class="fas fa-user px-2"></i>Edit Profile</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTION -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-3">
          <a href="#" class="btn btn-light btn-block form-control">
            <i class="fas fa-arrow-left"></i>Back To Dashboard
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a href="#" type="button" class="btn btn-success btn-block form-control" >
            <i class="fas fa-lock"></i>Change Password
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a href="#" type="button" class="btn btn-danger btn-block form-control">
            <i class="fas fa-trash"></i>Delete Account
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4 class="text-center">Edit Profile</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group mb-2">
                  <label for="name" class="mb-2">Name</label>
                  <input type="text" class="form-control" value="Joh D">
                </div>
                <div class="form-group mb-2">
                  <label for="email" class="mb-2">Email</label>
                  <input type="email" class="form-control" value="test@test.com">
                </div>
                <div class="form-group mb-2">
                  <label for="bio" class="mb-2">Bio</label>
                  <textarea class="form-control" name="editor1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur doloribus est ullam, error, velit, hic dolore consequatur perspiciatis, quos molestias officia voluptatum. Dolor nobis architecto animi nemo a excepturi, facilis eligendi saepe tempora harum aperiam voluptatibus soluta placeat, iusto? Ipsam.
                  </textarea>
                </div>
              </form>
              <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h3>Your Avatar</h3>
          <img src="img/avatar.png" alt="" class="d-block img-fluid mb-3">
          <button class="btn btn-primary btn-block d-block form-control mb-3">Edit Image</button>
          <button class="btn btn-danger btn-block d-block form-control mb-3">Delete Image</button>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
