
.wrapper {
    display:grid;
    grid-template-columns:70% 30%;
    grid-gap:1em;

}

.wrapper > div {
    background:#eee;
    padding:1em;
}

.wrapper > div:nth-child(odd){
    background:#ddd;
}#989898

/* Sub inside blocks */

.mainshowcase {
        display:grid;
        grid-template-columns:60% 40%;
}

.mainshowcase > div {
    background:#989898;
    padding:1em;
}

.mainshowcase > div:nth-child(odd){
    background:#909090;
}