{% extends 'back/master.html' %}
{% load staticfiles %}
{% block mainblock %}
<!-- Page content -->
                    <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Emails<br><small>Lists of emails</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Emails List</li>
                            <li><a href="">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                         <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Datatables</strong> integration</h2>
                            </div>

                            <div class="table-responsive">
                                <form action="{%url 'send_email' %}" method="post" enctype="multipart/form-data" class="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea type="text" rows="10" id="name" name="txt" class="form-control" placeholder ="Your message"></textarea>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                              <div class="col-md-12">
                                                   <br/><br/>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                              </div>
                                        </div>
                                </form>
                            </div>

                            <div class="block-title">
                                <br/><br/>
                                <h2><strong>Datatables</strong> integration</h2>
                            </div>
                            <form action="{%url 'check_mychecklist' %}" method="post" enctype="multipart/form-data" class="">
                                {% csrf_token %}
                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Email</th>

                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for cc in emails %}
                                        <tr>
                                            <td><input type="checkbox" name="checks[]" value="{{cc.pk}}" id="check"/></td>
                                            <td class="text-center">{{cc.pk}}</td>
                                            <td>{{cc.txt}}</td>

                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{%url 'news_txt_del' pk=cc.pk num=1 %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="col-md-12">
                                                   <br/><br/>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>


                            </form>
                        </div>
                        <!-- END Datatables Content -->
                    </div>
                    <!-- END Page Content -->

{% endblock %}

{% block footerblock %}

 <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}