<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <style>
    .food1 img {
    width:320px;
    height: 240px;
    float:left;
    padding-left:75px;
    padding-top:20px;
    }
    .food1 span i{
    padding-left:75px;
    padding-top:20px;
    padding-top:10px;

    }
  </style>
  <body>
    <div id='app'class="mx-auto" style="width: 200px;margin-top:20px;">
      <h3>Vue Js Intro</h3>
      <div v-on:click="say_hello">[[message]]</div>
        <button v-on:click="greet">Greet</button>

<!--      <button v-on:click="like">Like</button>-->
    </div>
    <div class="row">
      {% for post in posts %}

      <div id='pic1' class="span3 food1" >
        <span><i>{{post.post_desc}}</i></span>
        <div class="row">
          <img src="{{post.picurl}}" alt="Image" styles="width:50%;;height:auto;"/>
        </div>
        <span>
          <i v-on:click="like" class="fa fa-thumbs-up"></i>
          [[likes]]
        </span>
      </div>
      {% endfor %}

    </div>

  </body>
  <script>
    var app = new Vue({
      delimiters:["[[","]]"],
      el: '#app',
      data:{
        message :"Hello!",
      },
      methods:{
        say_hello:function(){
          alert("Vue is saying Hello!");
        },
        greet:function(){
          this.message = this.message + 'Users';
        },

      },
    });

      var pic1 = new Vue({
      delimiters:["[[","]]"],
      el: '#pic1',
      data:{
        likes:0,
        dislikes:0,
      },
      methods:{
        like:function(){
          this.likes=this.likes +1;
        },

        dislike:function(){
          this.dislikes=this.dislikes +1;
        },
      },

    });
  </script>
</html>
