{% extends 'back/master.html' %}
{% load staticfiles %}
    {% block headblock %}
    <script src="{%static 'ckeditor/ckeditor.js' %}"></script>
    {% endblock %}
{% block mainblock %}

<div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="gi gi-notes_2"></i>Site Settings<br><small>Manage Settings of the site </small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Site</li>
                            <li><a href="/panel/setting/">Setting</a></li>
                        </ul>


<div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Basic Form</strong> Elements</h2>
                                    </div>
                                </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{%url 'site_setting' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" value="{{site.name}}" id="name" name="name" class="form-control" placeholder="Title">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{site.tell}}" id="tell" name="tell" class="form-control" placeholder="Site tell">
                                            </div>


                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" value="{{site.fb}}"id="fb" name="fb" class="form-control" placeholder="fb">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{site.tw}}"id="tw" name="tw" class="form-control" placeholder="tw">
                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" value="{{site.yt}}"id="yt" name="yt" class="form-control" placeholder="yt">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="{{site.link}}"id="link" name="link" class="form-control" placeholder="link">
                                            </div>


                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea type="text" value="{{site.about}}" id="txt" name="txt" rows="5" class="form-control" placeholder="">{{site.about}}</textarea>
                                            </div>

                                        </div>
                                        <script>
                                                CKEDITOR.replace("txt");
                                            </script>



                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="file" id="myfile" name="myfile"  class="form-control" placeholder="{{news.picurl}}"></input>
                                            </div>
                                            <div class="col-md-6">
                                                <img style="display:inline-block; width:200px; height:200px;" src="{{site.picurl}}"/>
                                            </div>

                                        </div>
                                         <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="file" id="myfile2" name="myfile2"  class="form-control" placeholder="{{news.picurl2}}"></input>
                                            </div>
                                            <div class="col-md-6">
                                                <img style="display:inline-block; width:200px; height:200px;" src="{{site.picurl2}}"/>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                              <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                              </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="seotxt" name="seotxt" class="form-control" placeholder="seo text">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="seokeywords" name="seokeywords" class="form-control" placeholder="seo keywords">
                                            </div>


                                        </div>


                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>

                    <!-- END Page Content -->

{% endblock %}