{% extends 'back/master.html' %}
{% block mainblock %}

<div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="gi gi-notes_2"></i>Add New Categories<br><small>Enter new Categories to add</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Categories</li>
                            <li><a href="">Add</a></li>
                        </ul>


<div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Basic Form</strong> Elements</h2>
                                    </div>
                                </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{%url 'cat_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="name" name="name" class="form-control" placeholder="Enter New Category">
                                            </div>




                                        </div>


                                        <div class="form-group">
                                              <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                              </div>
                                        </div>


                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>

                    <!-- END Page Content -->

{% endblock %}