{% extends 'back/master.html' %}
{% load staticfiles %}
{% block mainblock %}
<!-- Page content -->
                    <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Contact Lists<br><small>Lists out the Contacts</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Contact List</li>
                            <li><a href="">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                         <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Datatables</strong> integration</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>

                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Message</th>

                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for cc in msg %}
                                        <tr>
                                            <td class="text-center">{{cc.pk}}</td>
                                            <td><a href="javascript:void(0)">{{cc.date}} | {{cc.time}}</a></td>
                                            <td>{{cc.name}}</td>
                                            <td>{{cc.email}}</td><!--change to main category-->
                                            <td>{{cc.txt}}</td>
                                            <td><span class="label label-info">100</span></td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{%url 'news_edit' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i>Answer</i></a>
                                                    <a href="{%url 'contact_del' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->
                    </div>
                    <!-- END Page Content -->

{% endblock %}

{% block footerblock %}

 <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}