{% extends 'front/landing_master.html' %}
{% load staticfiles %}

{% block paintings %}
	{% for product in paintings %}

		<div class="grid-item">
<!--		    <figure class="effect-sadie">-->
				<figcaption>
					<a href="{%url 'product_page' pk=product.pk %}"><img src="{{product.picurl}}" alt="Image" class="img-fluid tm-img"></a>
						<h2 styles="align:center;"><span class="text-center;"><strong>{{product.name}}</strong></span></h2>
<!--					<h2 class="text-center">{{product.name}}</h2>-->
	<!--				<h2 class="tm-figure-title">Image <span><strong>One</strong></span></h2>-->
	<!--				<p class="tm-figure-description">Set true or false in HTML script tag for this page black and white.</p>-->
	<!--				 <a href="img/tm-img-01.jpg">View more</a>-->
				</figcaption>
<!--			</figure>-->
		</div>
		{% endfor %}

{% endblock %}

{% block sculptures %}
	{% for product in sculptures %}

		<div class="grid-item">
<!--		    <figure class="effect-sadie">-->
				<figcaption>
					<a href="{%url 'product_page' pk=product.pk %}"><img src="{{product.picurl}}" alt="Image" class="img-fluid tm-img"></a>
						<h2 styles="align:center;"><span class="text-center;"><strong>{{product.name}}</strong></span></h2>
<!--					<h2 class="text-center">{{product.name}}</h2>-->
	<!--				<h2 class="tm-figure-title">Image <span><strong>One</strong></span></h2>-->
	<!--				<p class="tm-figure-description">Set true or false in HTML script tag for this page black and white.</p>-->
	<!--				 <a href="img/tm-img-01.jpg">View more</a>-->
				</figcaption>
<!--			</figure>-->
		</div>
		{% endfor %}

{% endblock %}



