{% extends 'back/master.html' %}
{% load staticfiles %}
{% block mainblock %}
<!-- Page content -->
                    <div id="page-content">
                        <!-- Datatables Header -->
                        <div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="fa fa-table"></i>Categories<br><small>Lists out the Categories with details</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Category List</li>
                            <li><a href="">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                         <!-- Datatables Content -->
                        <div class="block full">
                            <div class="table-responsive">
                                <a href="{%url 'export_cat_csv' %}" data-toggle="tooltip" title="Export CSV file" class="btn btn-xs btn-default">CSV</a>
                            </div>
                        </div>
                        <!-- END Datatables Content -->
                        <!-- Datatables Content -->
                        <div class="block full">

                               <form action="{%url 'import_cat_csv' %}" method="post" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                    <div class="table-responsive">
                                   <input type="file" name ="csv_file" id="csv_file" placeholder="import csv file"/>
                                    <br/>
<!--                                    <a href="" type="submit" data-toggle="tooltip" title="Import CSV file" class="btn btn-xs btn-default">Submit</a>-->
                                    <button type="submit" >Submit</button>
                                    </div>
                                </form>

                        </div>
                        <!-- END Datatables Content -->

                         <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Datatables</strong> integration</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Image</th>

                                            <th>Title</th>



                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for cc in cat %}
                                        <tr>
                                            <td class="text-center">{{cc.pk}}</td>
                                            <td class="text-center"><img style="display:inline-block; width:50px; height:50px" src="{{cc.picurl}}" alt="avatar" class="img-circle"></td>
                                            <td>{{cc.name}}</td>

                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                                    <a href="{%url 'news_delete' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->
                    </div>
                    <!-- END Page Content -->

{% endblock %}

{% block footerblock %}

 <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}