{% extends 'back/master.html' %}
{% load staticfiles %}
    {% block headblock %}
    <script src="{%static 'ckeditor/ckeditor.js' %}"></script>
    {% endblock %}
{% block mainblock %}

<div class="content-header">
                            <div class="header-section">
                                <h1>
                                    <i class="gi gi-notes_2"></i>Add Trending<br><small>Enter Detailed news Entries</small>
                                </h1>
                            </div>
                        </div>
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Trending</li>
                            <li><a href="">Add</a></li>
                        </ul>


<div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Basic Form</strong> Elements</h2>
                                    </div>
                                </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{%url 'trending_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="txt" name="txt" class="form-control" placeholder="Trending">
                                            </div>

                                              <div class="col-md-6">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                              </div>


                                            </div>



                                    </form>
                                    <!-- END Basic Form Elements Content -->

                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                            <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Trending</strong>List</h2>
                            </div>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Text</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for cc in trending_list %}
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>{{cc.txt}}</td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{%url 'trending_edit' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                                                    <a href="{%url 'trending_del' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->

                    <!-- END Page Content -->

{% endblock %}