{% extends 'back/master.html' %}
{% load staticfiles %}

{% block mainblock %}

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Contacts</h4>
                  <p class="card-category"> Lists out the Contacts</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Message</th>
                      <th></th>
                      </thead>
                      <tbody>
                      {% for cn in contacts %}
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            {{cn.contact_name}}
                          </td>
                          <td>
                            {{cn.email}}
                          </td>
                          <td>
                            {{cn.message}}
                          </td>
                            <td>
                                <a href="{%url 'delete_contact' pk=cn.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                                <form action="{%url 'reply_contact' pk=cn.pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                    {% csrf_token %}
                                    <span>
                                        <input type="text" name="contact_reply" id="contact_reply" placeholder="reply to message.."/>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </span>
                                </form>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--</div>-->
{% endblock %}
